
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&Roboto+Mono:wght@400&display=swap');

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

/* eagle sight */
/* @font-face {
  font-family: "Eagle Sight";
  src: url("/fonts/eagleSight/EagleSightRegular.ttf") format("truetype"), url("/fonts/eagleSight/eaglesightregular-webfont.woff") format("woff"), url("/fonts/eagleSight/eaglesightregular-webfont.woff2") format("woff2");
} */

/* sherman */
@font-face {
  font-family: "Sherman";
  src: url("/fonts/sherman/Sherman-Display.woff") format("woff"), url("/fonts/sherman/Sherman-Display.woff2") format("woff2");
}

@layer base {
  svg {
    @apply fill-current;
  }

  header nav ul {
    @apply p-0 m-0 flex items-center gap-x-12 flex-col lg:flex-row gap-y-5 py-10;
  }

  header nav ul li {
    @apply uppercase font-wide text-sm text-white lg:text-[#807272] lg:hover:text-chestnutRose;
  }

  label {
    @apply font-wide text-sm block mb-3;
  }

  input[type="number"],
  input[type="text"] {
    @apply min-h-[60px] w-full border-1 border-white bg-transparent px-5 focus:outline-black;
  }

  input[type="date"] {
    @apply min-h-[60px] w-full border-1 border-white bg-transparent px-5 focus:outline-black;
  }

  input[type="date"] + svg {
    @apply absolute right-0 top-7 mr-5 mt-5 pointer-events-none;
  }
}

@layer components {
  .page {
    @apply pt-[380px] sm:max-w-[66%] md:max-w-[40%] lg:max-w-[50%] xl:max-w-[600px] sm:pt-4;
  }

  .page-title {
    @apply font-condensed text-[72px] md:text-[84px] leading-[0.9] text-darkSlateGray;
  }

  .subheading {
    @apply font-wide lg:text-xl text-steelBlue;
  }

  .form-placement {
    @apply h-full px-4 md:pl-10 2xl:pl-[150px]
  }

  .badge-placement {
    @apply absolute -top-[320px] bottom-auto md:top-auto md:bottom-[100px] right-auto left-1/2 -translate-x-1/2 sm:left-auto sm:translate-x-0 sm:-right-[7%] md:right-[10%] xl:right-[200px] 2xl:right-[300px] scale-50 md:scale-100
  }

  @media (min-height: 888px) {
    .badge-placement {
      @apply !bottom-auto !-top-[135px]
    }
  }

  .field {
    @apply mb-7 relative
  }

  body:has(.badge-page) {
    background: #f0f0f0 url('/images/spotlight.svg') no-repeat;
    background-position: -60px -50px;
  }

  .share-button {
    @apply bg-black text-white font-sans leading-[24px] rounded-md py-4 font-bold flex items-center justify-center gap-x-3 w-full hover:bg-gray-900;
  }

  .arrow--top:after {
    content: '';
    @apply absolute left-0 right-0 mx-auto w-0 h-0 border-t-[8px] border-t-black border-l-[8px] border-l-transparent border-r-[8px] border-r-transparent -bottom-2;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
